{% extends "customer/customerbase.html" %}
{% block content %}
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<div class="card" style="width: 55rem;">
  <div class="card-body">
    <h5 class="card-title">VIEW CREDIT CARD</h5>

 <table class="table">
  <thead>
    <tr>
        <th scope="col">SL</th>
        <th scope="col">CARD NO</th>
      <th scope="col">CARD CVV</th>
      <th scope="col">EXPIRY DATE</th>
<!--      <th scope="col">END TIME</th>-->
<!--        <th></th>-->
<!--        <th scope="col">APPOINTMENT</th>-->



    </tr>
  </thead>
       <tbody>
  {% for i in a %}
  <tr>
    <td>{{forloop.counter}}</td>
    <td>{{i.card_no}}</td>
      <td>{{i.card_cvv}}</td>
    <td>{{i.expiry_date}}</td>
    </td>

  </tr>





            {% endfor %}


  </tbody>


 </table>
{% endblock %}

  </div>
</div>






